<%- include("templates/header", { authenticated, user_type }) %>

<h2>Welcome to the Members Page</h2>

<p>Hello, <strong><%= name %></strong>! Here's your cat of the day:</p>
<img src="/<%= images[Math.floor(Math.random() * images.length)] %>" style="width:300px;" class="img-fluid rounded" />

<a href="/logout" class="btn btn-danger mt-3">Logout</a>

<%- include("templates/footer") %>
